services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: chatbot_db
      MYSQL_ROOT_PASSWORD: tvoja_sifra_iz_compose_fajla # Ovde stavi istu šifru kao u .env
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  backend:
    build: ./backend
    env_file:
      - ./backend/.env  # Docker će sam povući tvoje tajne ključeve
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
      - chroma_data:/app/backend/chroma_db
    depends_on:
      - db

  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    environment:
      - VITE_API_URL=http://localhost:8000 # Za lokalni test preko browsera
    depends_on:
      - backend

volumes:
  mysql_data:
  chroma_data: