services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: chatbot_db
      MYSQL_ROOT_PASSWORD: 1234
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  backend:
    build: ./backend
    restart: always
    env_file:
      - ./backend/.env
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
      - chroma_data:/app/backend/chroma_db
    depends_on:
      - db

  frontend:
    build: ./frontend
    restart: always
    ports:
      - "3200:3200"
    environment:
      - VITE_API_URL=http://localhost:8000
    depends_on:
      - backend

volumes:
  mysql_data:
  chroma_data: